<div class="card h-100 shadow-sm" *ngIf="product">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid bg-light">
    <div class="card-body d-flex flex-column">
        <a href="" class="text-decoration-none">
            <h6 class="text-uppercase">
                {{product.name}}
            </h6>
        </a>
        <span class="mb-2">{{product.price | currency}}</span>
        <input type="number" [(ngModel)]="newPrice" placeholder="New Price" class="form-control mb-2" />
        <button class="btn btn-outline-primary" (click)="updatePrice()">Update Price</button>
        <div class="btn-group mt-auto">
            <button class="btn btn-outline-secondary fa fa-shopping-cart me-2"></button>
            <button class="btn btn-outline-secondary">View</button>
            <button class="btn btn-outline-danger" (click)="deleteProduct(product.id)">Delete</button>

        </div>
    </div>
</div>